<h2>Welcome to the DIY Platform</h2>
<p><h5>On this platform you can:</h5></p>
<p>
    <ul>
        <li>Look for DIY coaching event</li>
        <li>Post a request for help on one of your DIY project</li>
        <li>or simply reply to a DIY request and propose your help</li>
    </ul>
</p>

<h3>All current Events</h3>

<p><h5>Request help for DIY</h5></p>
<div class="container">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="accordion" id="accordionEvent">
                <% for event in @events_request %>
                    <div class="card">
                        <div class="card-header" id="heading<%= event[:id] %>">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= event[:id] %>" aria-expanded="false" aria-controls="collapse<%= event[:id] %>">
                            <%= event[:title] %>
                            </button>
                        </h2>
                        </div>

                        <div id="collapse<%= event[:id] %>" class="collapse" aria-labelledby="heading<%= event[:id] %>" data-parent="#accordionEvent">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <p><b>Date: </b><%= event[:date] %></p>
                                    </div>
                                    <div class="col">
                                        <p><b>Location: </b><%= event[:location] %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p><b>Description: </b><%= event[:description] %></p>
                                    </div>
                                </div>                   
                                <div class="row">
                                    <div class="col">
                                        <p><a href="/events/<%= event[:id] %>" class="btn btn-primary btn-sm" role="button">View</a></p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>



<p><h5>Coaching events</h5></p>
<div class="container">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="accordion" id="accordionEvent">
                <% for event in @events_coaching %>
                    <div class="card">
                        <div class="card-header" id="heading<%= event[:id] %>">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= event[:id] %>" aria-expanded="false" aria-controls="collapse<%= event[:id] %>">
                            <%= event[:title] %>
                            </button>
                        </h2>
                        </div>

                        <div id="collapse<%= event[:id] %>" class="collapse" aria-labelledby="heading<%= event[:id] %>" data-parent="#accordionEvent">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <p><b>Date: </b><%= event[:date] %></p>
                                    </div>
                                    <div class="col">
                                        <p><b>Location: </b><%= event[:location] %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p><b>Description: </b><%= event[:description] %></p>
                                    </div>
                                </div>                   
                                <div class="row">
                                    <div class="col">
                                        <p><a href="/events/<%= event[:id] %>" class="btn btn-primary btn-sm" role="button">View</a></p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
